@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  @apply bg-slate-100;
}

/* Chrome, Edge, Safari */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner {
  -moz-appearance: textfield;
}
